# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
**/dist
/tmp
/out-tsc
# dependencies
/node_modules
**/node_modules
/06_clean_code

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json

