<h1>{{ name }}</h1>

<div class="radio_box">
    <div class="inputView_box">
        <input type="radio" class="radioButton input-view" name="currency" id="inputView" value="input" checked>
        <label for="inputView">Input View</label>
    </div>
    <div class="sliderView_box">
        <input type="radio" class="radioButton slider-view" name="currency" id="sliderView" value="slider">
        <label for="sliderView">Slider View</label>
    </div>
</div>

<div class="main-content"></div>
